body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: roboto, helvetica, arial, san-serif;
  color: #666;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

p {
  font-weight: 600;
}

li {
  padding-top: 60px;
}
